// パンくずリスト
.signup-bar{
  font-size: 14px;
  padding: 40px 0 0 44px;
  vertical-align: top;
  position: absolute;
  right: 30%;


  .signup-lists{
    list-style: none;

    .signup-list{
      float: left;
      position: relative;
      font-weight: 600;
      margin-right: 40px;
      color: #888;
      font-size: 12px;

        &.active-title{
          font-weight: 600;
          color: #ea352d;
        }
    }

    .list-round{
      width: 12px;
      height: 12px;
      margin: 8px auto 0;
      background: #ccc;
      border-radius: 50%;

        &-left_through{
        background: #ea352d;
        }
        
        &-right{
          background: #ccc;
        }
    }

    .list-round_bar{
      bottom: 5px;
      height: 2px;
      background: #ccc;
      position: relative;
      
      &_fast{
        top: -7px;
        left: 30px;
      }

      &_auto{
        top: -7px;
        right: 40px;
      }

      &_last1{
        top: -7px;
        right: 70px;
        }
      
      &_last2{
        bottom: 9px;
        right: 30px;
        width: 50px;
      }

      &_ok1{
        background: #ea352d;
        top: -7px;
        left: 30px;
      }

      &_ok2{
        background: #ea352d;
        top: -7px;
        right: 42px;
      }

      &_ok3{
        width: 70px;
        background:#ea352d;
        top: -7px;
        right: 70px;
      }

      &_ok4{
        background: #ea352d;
        bottom: 9px;
        right: 30px;
      }
    }
  }
}

  .form-group {
      width: 50%;
      max-width: 343px;
      margin: 10px auto 0;

      &_text{
        position: relative;
        right: 100px;

        .checkbox-input{
          width: 20px;
          height: 20px;
          position: relative;
          left: 15px;
        }

        .checkbox-parts{
          position: relative;
          left: 10px;
          bottom: 4px;
        }
      }

      &_p{
        margin: 8px 0 0;
        line-height: 1.5;
        color: #888;
      }

      &_label{
        font-size: 13px;
        display:inline-block;
        font-weight:  bold;
      }

      &_label2{
        font-size: 13px;
        display:inline-block;
        font-weight:  bold;
        position: relative;
        right: 10px;
      }


      &_h3{
        font-size: 16px;
        font-weight:  bold;
        position: relative;
        right: 135px;
      }

      &_p2{
        margin: 8px 0 0;
        text-align: left;
        position: relative;
        left: 170px;

        a{
          color: #0099e8;
          text-decoration: none;
        }
        .login-b{
          position: relative;
          left: 170px;
        }
      }

      &_p3{
        font-size: 12px;
        color: #888;
        background-color: #f5f5f5;
        padding: 8px 16px;
        width: 328px;
        margin: 24px 0 0;
      }

      &_birth{
        position: relative;
        right: 10px;
        top: 20px;
      }
  }

    .form-input{
      width: 328px;
      font-size: 16px; 
      letter-spacing: 1px;
      height: 48px;
      padding: 10px 16px 8px;
      border-radius: 4px;
      border: 1px solid #ccc;
      background: #fff;
      font-size: 16px;
      margin: 8px 0 0;
    }
    
    .essential {
      background: #ea352d;
      margin: 0 0 0 8px;
      padding: 2px 4px;
      border-radius: 2px;
      color: #fff;
      font-size: 12px;
      vertical-align: top;
    }

    .form-half{
      width: calc(50% - 6px);
      height: 48px;
      margin-top: 5px;
      padding: 10px 16px 8px;
      border: 1px solid #ccc;
      border-radius: 4px;
      font-size: 16px; 
      letter-spacing: 1px; 
    }
    
      .form-flex{
        display: flex;
        margin: auto;
      
      #form-flex{
        position: relative;
      }

      #user_birthday_year,#user_birthday_month,#user_birthday_day{
        background-color: white;
        display: block;
        width: 20%; 
        height: 48px;
        margin-top: 5px;
        border: 1px solid #ccc;
        font-size: 16px; 
        letter-spacing: 1px; 
      }

      // select矢印変更
      select::-ms-expand {
        display: none;
      }
      select {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        margin-bottom: 20px;
        padding: 7px 30px 7px 10px;
        font-size: 93%;
        line-height: 1.1em;
        border-radius: 5px;
        border: none;
      }

      .fa-angle-down{
        color: rgb(153, 153, 153);
        position: relative;
        right: 25px;
        top: 15px;
        -webkit-text-stroke: 2px white
      }
    }

  .next-button{
    @include next-button;
   }
   .next-button2{
    @include next-button;
    margin: 50px 0 0;
  }
  

  
  
  