$white: #fff;
$side_blue_dark: #253141;
$side_blue_light: #2f3e51;
$light_blue: #38AEF0;
$light_gray: #999;
$black: #434a54;
$alert_orange: #F35500;
$background_white: rgb(255, 255, 255);
$border_rgb: rgb(204, 204, 204);
$background_rgb: rgb(245, 245, 245);
$text_black :black;
$red: rgb(234, 53, 45);
$background_black:  #222222;  
$tag-text: rgb(51, 51, 51);