.dropzone__container {
  width: 640px;
  height: 100%;
  margin: 0 auto;
  
  .dropzone-area {
    @include dropzone ;
    float:right;
  }
  .img_view {
    float:left;
    padding: 0 4px;
    }
  .img_view > img {
    width: 120px;
    margin-top: 16px;
    height: 120px;
  }
  .btn_wrapper {
    position:relative;
    height: 30px;
    background-color: #f5f5f5;
    &:hover {
      cursor: pointer;
    }
    .delete {
      position:absolute;
      top:6px;
      left: 35%;
      color: #0095EE;
      
    }
  }
  
  .dropzone-area2 {
    @include dropzone;
    display: none;
    float:right;
    position:relative;
    P {
      height: 100%;
      width: 100%;
      text-align: center;
      line-height: 130px;
    }
    .fa {
      font-size: 20px;
      position:absolute;
      top: 40%;
      left: 40%;
    }
  }
  #preview {
    float:left;
  }
  .input_area {
    height: 100%;
    width: 100%;
    position: relative;
    .upload-image {
      display: none;
    }
    p {
    text-align: center;
    line-height: 134px;
    }
    .fa {
      font-size: 20px;
      position:absolute;
      top: 40%;
      left: 40%;
    }
  }
}