.buy-container {
  width: 800px;
  margin: 0 auto;
  h2 {
    font-size: 23px;
    font-weight: bold;
    padding: 32px;
    text-align: center;
    @include divider-line;
  }
  .item-details{
    padding: 30px 15px;
    @include divider-line;
    &__inner {
      width: 350px;
      margin: 0 auto;
      .item-box {
        display: flex;
        &__image {
          width: 80px;
          height: 80px;
          img {
            max-width: 100%;
            height: 80px;
          }
        }
        &__label {
          margin-left: 20px;
          .name {
            margin-bottom: 10px;
          }
          .price {
            font-weight: bold;
            .fee {
              margin-left: 10px;
            }
          }
        }
      }
    } 
  }
  .item-content {
    background-color: $white;
    padding: 30px 15px;
    &__inner {
      width: 350px;
      margin: 0 auto;
      .buy-price {
        width: 100%;
        &__label {
          display: flex;
          justify-content: space-between;
          .title {
            padding-top: 10px;
            font-size: 18px;
            font-weight: bold;
          }
          .price {
            padding-top: 10px;
            font-size: 27px;
            position: relative;
            .pay {
              position: absolute;
              bottom: 0;
              right: 0;
            }
          }
        }
      }
      .buy-point {
        padding: 30px 0;
        color: #808080;
        border-bottom: 1px solid $Pale-gray;
        input {
          transform: scale(2.0);
        }
        label {
          font-size: 15px;
          padding-left: 10px;
        }
      }
      .payment-info {
        @include small-divider-line;
        &__inner {
          margin: 0 auto;
          .payment {
            @include change;
            h3 {
              font-weight: bold;
            }
            a {
              text-decoration: none;
            }
            a:hover {
              text-decoration: underline;
            }
            .change {
              color: $light_blue;
            }
          }
          .payment-method {
            margin-top: 8px;
            font-size: 15px;
            line-height: 2.0rem;
          }
          .credit-card-logo {
            margin-top: 8px;
            img {
              width: 52px;
              height: 18px;
            }
          }
        }
      }
      .delivery-info {
        @include small-divider-line;
        &__inner {
          margin: 0 auto;
          .delivery {
            @include change;
            h3 {
              font-weight: bold;
            }
            a {
              text-decoration: none;
            }
            a:hover {
              text-decoration: underline;
            }
            .change {
              color: $light_blue;
            }
          }
          .address {
            margin-top: 8px;
            font-size: 15px;
            line-height: 2.0rem;
          }
        }
      }
      .buy-btn {
        padding-top: 30px;
        .button {
          display: block;
          width: 100%;
          height: 50px;
          line-height: 50px;
          text-align: center;
          font-size: 15px;
          background-color: #ea352d;
          color: $white;
          text-decoration: none;
          font-weight: bold;
        }
      }
    }
  }
}