.header {
  box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
  background-color: $background_white;
  position:relative;
  .header-top {
    width: 1020px;
    height:100px ;
    margin: 0 auto;
    padding-top: 8px;
    background-color: $background_white;
    .logo-search-contents {
      display: flex;
      justify-content: space-between;  
      .logo{
        width: 134px;
        margin-right:45px;
        height: 40px;
      }
      form {
        position: relative;
        width: 100%;
        .search-form {
          padding: 0px 50px 0px 10px;
          font-size: 16px;
          width: 100%;
          @include search;
        }
        .search-btn {
          position: absolute;
          top:0;
          right:0;
          width: 40px;
          padding: 0px;
          @include search;
          border-left: 0;
          .search-icon {
            width: 14px;
            cursor: pointer;
          }
        }
      }
    }
    .header-bottom {
      display: flex;
      justify-content: space-between;
      margin-top: 8px;
      font-size: 14px;
      .search-navs {
        display: flex;
        justify-content: space-between;
        a {
          color: inherit;
          text-decoration: none;
        }
        &__category {
          margin-left: 0;
          &__icon {
            text-decoration: none;
            cursor: pointer;
            .nav-icon {
              color: $red;
              padding-right: 8px;
            }
            span {
              @include nav_text;
              &:hover {
                color: $light_blue;
              }
            }
          }
        }
        &__brand{
          margin-left: 22px;
          &__icon {
            text-decoration: none;
            cursor: pointer;
            .nav-icon {
              color: $red;
              padding-right: 8px;
            }
            span {
              @include nav_text;
              &:hover{
                color: $light_blue;
              }
            } 
          }  
        }
      }
      &__right {
        display: flex;
        justify-content: space-between;
        .signup-btn {
          background-color: $red; 
          border-color: $red;
          @include btn_default;    
          .signin-text {
            color: $background_rgb;
          }
        }
        .login-btn {
          background-color: $white;
          color: $light_blue;
          border-color: $light_blue; 
          margin-left:8px;
          @include btn_default;
          &:hover {
            background-color: $light_blue;
            color: $white;
          } 
          a {
            color: inherit;
            text-decoration: none;
          }
        } 
      }
    }
  }
}
 
   



