.heart-icon {
  color: $icon-gray;
  font-size: 15px;
}
.fade-in-down {
  font-size: 14px;
  margin: 1px 0 0 6px; 
}
.red-heart-icon {
  color: #ea352d;
  font-size: 15px;
}
.fade-in-down-red {
  font-size: 14px;
  margin: 1px 0 0 6px;
  color:#ea352d;;
}
