%aside.banner
  .banner__contents
    .banner__contents-text
      %h2 スマホでかんたんフリマアプリ
      %p 今すぐ無料ダウンロード!      
      .banner__contents-text-icon
        .icon-box
          =image_tag('main/mercari_icon-square.png' ,class: 'mercari-logo')
        %ul
          %li
            =image_tag('main/app-store.svg',class:'app-logo') 
          %li
            =image_tag('main/google-play.svg', class: 'google-logo')
    .banner__contents-img
      =image_tag('main/download_app_pc.png', class:'app-right')
           
