@mixin  nav-text {
  font-weight: bold;
  vertical-align: middle;
  line-height: 32px;
  color: $text_black;
}
@mixin  btn-default {
  display: block;
  height: 32px;
  font-size: 14px;
  border-width: 1px; 
  border-style: solid;
  border-radius: 4px;
  padding: 5px 10px;
}
@mixin search {
  height: 40px;    
  border-width: 1px;
  border-radius: 4px;
  border-style: solid;
  border-color: $border_rgb; 
  background-color: $background_rgb;
  outline: none;
}

@mixin login-btn { 
  font-size: 14px;
  margin: auto;
  padding: 15px 40px;
  width: 408px;
  }

@mixin login-btn-fa{
  display: block;
  margin: 8px 0 0;
  padding: 10px;
  color: #fff;
}

@mixin login-btn-new {
  color: #fff;
  display: block;
  border-radius: 4px;
  padding: 10px 40px;
  margin: 16px 0 0;
}

@mixin next-button{
  background: #ea352d;
  color: #fff;
  display: block;
  border: #ea352d solid 1px;
  padding: 15px 40px;
  margin: 50px 150px;
  width: 343px;
}

@mixin signup-form {
  width: 700px;
  height: auto;
  background: #FFF;
  margin: 1px auto;
  padding: 35px 16px 45px;
}

@mixin signup-header {
  width: 100%;
  height: 128px;
  background-repeat: no-repeat;
  margin: 0;
  padding: 40px;  
}
@mixin table {
  padding: 8px;
  font-size: 13px;
  border: 1px solid $boder-gray;
  border-collapse: collapse;  
}
@mixin comment-btn {
  background-color: $boder-gray;
  border: 1px solid $boder-gray;
  padding: 8px 16px;
  border-radius: 40px;
}

@mixin link {
  color: $light-blue;
  cursor: pointer;  
}

@mixin link-after {
  text-decoration: underline;
  opacity: 0.7;  
}

@mixin social-icon {
  font-size: 48px;
  margin: 0 8px 8px 0;
  cursor: pointer;
}

